/* css styles */
/* Regular Font (Medium) */
@font-face {
    font-family: "StoneSerifStd";
    src: url("assets/fonts/StoneSerifStd-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Italic Font (Medium Italic) */
@font-face {
    font-family: "StoneSerifStd";
    src: url("assets/fonts/StoneSerifStd-MediumItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

/* Bold Font (Semibold) */
@font-face {
    font-family: "StoneSerifStd";
    src: url("assets/fonts/StoneSerifStd-Semibold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic Font (Semibold Italic) */
@font-face {
    font-family: "StoneSerifStd";
    src: url("assets/fonts/StoneSerifStd-SemiboldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}


/* Regular Font (Medium) */
@font-face {
    font-family: "StoneSansStd";
    src: url("assets/fonts/StoneSansStd-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Italic Font (Medium Italic) */
@font-face {
    font-family: "StoneSansStd";
    src: url("assets/fonts/StoneSansStd-MediumItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

/* Bold Font (Semibold) */
@font-face {
    font-family: "StoneSansStd";
    src: url("assets/fonts/StoneSansStd-Semibold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic Font (Semibold Italic) */
@font-face {
    font-family: "StoneSansStd";
    src: url("assets/fonts/StoneSansStd-SemiboldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}



/* Apply the fonts to the body */
div, body {
    font-family: "StoneSansStd", sans-serif;
}

/* Additional font styling for headings */
a, h1, h2, h3, h4, h5, h6 {
    font-family: "StoneSansStd", sans-serif;
}

/* Links in paragraphs to inherit the serif font */
p a {
    font-family: "StoneSansStd", sans-serif;
}

/* Specific font weights/styles*/
b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

